.banner {
    background-color: rgba(0,0,0,0.5);
    background-size: cover;

    padding: 5.8125rem 0;
}

.banner--home {
    background: url(../../img/banner-home/banner-mobile.png) center no-repeat;
}

.banner--experience {
    background: url(../../img/banner-experience/banner-mobile.png) center no-repeat;
}

.banner--sectors {
    background: url(../../img/banner-sectors/banner-sectors-mobile.png) center no-repeat;
}

.banner--info {
    background: url(../../img/banner-info/banner-info-mobile.png) center no-repeat;
}

.banner__title {
    line-height: 2.625rem;
    text-align: center;
}

@media screen and (min-width:768px) {
    .banner {
        padding: 6.8125rem 0;
    }

    .banner--home {
        background: url(../../img/banner-home/banner-tablet.png) center no-repeat;
    }

    .banner--sectors {
        background: url(../../img/banner-sectors/banner-sectors-tablet.png) center no-repeat;
    }

    .banner__title {
        font-size: 4rem;
        line-height: 5.125rem;
    }
}

@media screen and (min-width:1440px) {
    .banner {
        padding: 7.53125rem 28.0625rem;
    }

    .banner--home {
        background: url(../../img/banner-home/banner-desktop.png) center no-repeat;
    }

    .banner--sectors {
        background: url(../../img/banner-sectors/banner-sectors-desktop.png) center no-repeat;
    }

}