.button {
    background-color: var(--dark-blue);
    border-radius: 1rem;
    box-shadow: 4px 4px 0px #000000;
    
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-decoration: none;
    
    padding: 0.5rem 1rem;
}

.button:hover {
    background-color: var(--hover-blue);
}