.main__content {
    background: linear-gradient(var(--gradient-blue), var(--gradient-beige), var(--gradient-yellow));
    
    padding: 0 1.5rem;
}

@media screen and (min-width:768px) {
    .main__content {
        padding: 0 3.75rem;
    }   
}

@media screen and (min-width:1440px) {
    .main__content {
        padding: 0 7.5rem;
    }   
}