:root {
    /* colors */
    --gradient-blue: #BFDAE6;
    --gradient-beige: #FCF0DD;
    --gradient-yellow: #FACF9D;

    --dark-blue: #2E7BA2;
    --light-blue: #C8DEEF;
    --hover-blue: #519EC5;


    --beige: #FBF0DD;

    --yellow: #FACF9D;
    --mustard: #DF9010;

    --gray: #444444;
    --white: #FFF;


    /* fonts */
    --text-font: 'Raleway', sans-serif;
    --heading-font: 'Calistoga', cursive;
}